body {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
    
}
#calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(202, 15%, 35%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    width: 100%;
}
#display-container {
    width: 100%;
    padding: 20px;
    background-color: hsl(233, 19%, 17%);
    overflow: hidden;
    border: none;
}
#display {
    width: 85%;
    padding: 15px;
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.61);
    text-align: left;
    border-radius: 30px;
    background-color: hsl(233, 19%, 17%);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
   
}
button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(186, 31%, 18%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
button:hover {
    background-color: hsl(186, 21%, 40%);
}
button:active {
    background-color: hsl(186, 11%, 50%);
}
.operator-btn {
    background-color: hsl(25, 32%, 48%);
}
.operator-btn:hover {
    background-color: hsl(25, 22%, 60%);
}
.operator-btn:active {
    background-color: hsl(25, 12%, 70%);
}
